@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    margin:0;
    box-sizing: border-box;

}

header{
    background-color: #059669;
    color:beige;
    padding: 2rem;
    border-bottom-left-radius: 2rem;
    text-align: center;
}
h1{
    font-size: 350%;
    font-family: 'Akaya Telivigala', cursive;
    color:rgb(6, 34, 6);
}
header p{
    font-size: 125%;
    font-family: 'Berkshire Swash', cursive;
    font-style: italic;
}

img{
    /* margin-left: 3rem; */
    width:340px;
    padding: 0rem;
    height: 300px;
    /* border: solid; */
    padding-left: 0rem;
}
#were{
    padding:0;

}
#blocks{
   border-radius: 1rem;
   padding: 0.2rem;
    margin-left: 2rem;
    border: solid rgb(223, 223, 181) 1.2px;
    width: 350px;
    height: 530px;
    box-sizing: border-box;
}
#i-text{
    padding-left: 1rem;
}

.i-head{
    font-size: 180%;
    margin-bottom: 0.7rem;
}

.i-para{
    font-size: 120%;
    padding-right: 1rem;
}

.nobullets{
    list-style: none;
}

#in_div li{
    margin-top: 5rem;
    display: inline-block;
    margin: 2.5rem 4.0rem;
}

.iin_div ol{
    display: inline-block;
    list-style: none;
    margin: 0 12rem;
}



footer{
    background-color: #059669;
    padding: 2rem;
}




.lefty{
   text-decoration: none;
}

.righty{
    
}

.about{
    text-decoration: none;
    color:black;
}

.a_head{
    font-size: 25px;
    padding-bottom: 2rem;
    color: rgb(6, 34, 6);
    font-weight: bold;

}

.h:hover{
    color: rgb(243, 247, 213);
}
.a_p{
    font-size: 17px;
    margin-top: 0.3rem;
    color: beige;
    
}


.image li{
    display: inline ;
}

.hero-heading{
    text-align: center;
    padding: 2rem;
    font-family:'Times New Roman', Times, serif;
    font-size: 280%;
}