@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    margin:0;
    box-sizing: border-box;

}

header{
    background-color: rgb(201, 228, 48);
    padding: 2rem;
    text-align: center;
}
h1{
    font-size: 350%;
    font-family: 'Akaya Telivigala', cursive;
}
header p{
    font-size: 125%;
    font-family: 'Berkshire Swash', cursive;
    font-style: italic;
}

img{
    margin-left: 3rem;
    width:200px;
    height: 200px;
    border: solid;
}